時間轉換

In [ ]:
from datetime import * #datetime,timezone,timedelta
time = datetime.utcnow().replace(tzinfo=timezone.utc)
now = time.astimezone(timezone(timedelta(hours=8))) # 轉換時區 -> 東八區

#print('UTC \t%s\nUTC+8\t%s'%(time,now))
print(now.strftime("%Y-%m-%d %H:%M:%S")) # 將時間轉換為 str

2021-01-22 14:01:31

|轉譯字符||描述|
|--------||:----|
|\(在行尾时)||续行符|
|\\||	反斜杠符号|
|\’||	单引号|
|\”||	双引号|
|\a||	响铃|
|\b||退格(Backspace)|
|\e||	转义|
|\000||	空|
|\n	||换行|
|\v	||纵向制表符|
|\t	||横向制表符|
|\r	||回车|
|\f	||换页|
|\oyy||	八进制数yy代表的字符，例如：\o12代表换行|
|\xyy||	十进制数yy代表的字符，例如：\x0a代表换行|
|\other||	其它的字符以普通格式输出|

In [ ]:

from datetime import datetime,timezone,timedelta
dt1 = datetime.utcnow().replace(tzinfo=timezone.utc)
dt2 = dt1.astimezone(timezone(timedelta(hours=8))) # 轉換時區 -> 東八區

print('UTC \t%s\nUTC+8\t%s'%(dt1,dt2))
print(dt2.strftime("%Y-%m-%d %H:%M:%S")) # 將時間轉換為 string


# UTC 	2019-11-25 03:40:41.993796+00:00
# UTC+8	2019-11-25 11:40:41.993796+08:00
# 2019-11-25 11:40:41

UTC 	2021-01-22 06:17:13.596387+00:00
UTC+8	2021-01-22 14:17:13.596387+08:00
2021-01-22 14:17:13

相關模塊練習

In [ ]:
now = datetime.now()
National_founding_day = now - datetime(1911,10,10) #

National_founding_day.days
#time>str
date = datetime(2020,1,18)
str(date)
date.strftime('%Y-%m-%d')  #%F  #%D  簡寫

# analysis time 
date =['2020-12-25','2021-1-10']
datetime2 =[datetime.strptime(x,'%Y-%m-%d') for x in date]  #這裡不能用簡寫噴ERROR

datetime2

[datetime.datetime(2020, 12, 25, 0, 0), datetime.datetime(2021, 1, 10, 0, 0)]

In [ ]:
import pandas as pd
import numpy as np
#pd.to_datetime(date)
date2 = ['2020-05-15','2020-07-02','2020-03-31','2020-02-15','2020-01-23']
date =['2020-12-25','20210121']
date.extend(date2)
ts = pd.Series(np.random.randn(7),index= pd.to_datetime(date))
ts
#ts.index

2020-12-25   -0.798495
2021-01-21    0.851277
2020-05-15   -0.799206
2020-07-02    0.546955
2020-03-31   -0.164728
2020-02-15    0.449512
2020-01-23   -0.826213
dtype: float64

In [ ]:
#ts index
ts[::2]  #從前每隔2取值
ts[:5]
ts[:-2]
ts[::-2] #從後往前每隔2取值
ts+ts[::2] #日期按先後順序

2020-01-23   -1.652427
2020-02-15         NaN
2020-03-31   -0.329455
2020-05-15   -1.598412
2020-07-02         NaN
2020-12-25   -1.596990
2021-01-21         NaN
dtype: float64

In [ ]:
ts

2020-12-25   -0.798495
2021-01-21    0.851277
2020-05-15   -0.799206
2020-07-02    0.546955
2020-03-31   -0.164728
2020-02-15    0.449512
2020-01-23   -0.826213
dtype: float64

In [ ]:
ts[2]
ts.index[2]

Timestamp('2020-05-15 00:00:00')

In [ ]:
ts['2020-05':'2021-1']

2020-12-25   -0.798495
2021-01-21    0.851277
2020-05-15   -0.799206
2020-07-02    0.546955
dtype: float64

利用datetime 產生隨機日期

In [ ]:
import time
import datetime
import random

end_time = datetime.datetime.now()
#start_time = datetime.datetime.now() + datetime.timedelta(weeks=-4368) #設定隨機時間抓取範圍(當前~多久以前) #約1930年開始
start_time = datetime.datetime.now() + datetime.timedelta(weeks=-2664)#windows的極限
#datetime.timedelta((days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0))

a1 = tuple(start_time.timetuple()[0:9])  #start_time.timetuple是時間資料結構,[:]取值,在用tuple包裝起來,產生乾淨時間放進tuple
a2 = tuple(end_time.timetuple()[0:9])
start = time.mktime(a1) #時間範圍的邊界上限下限 生成值為秒
end = time.mktime(a2)

#隨機生成時間
random_time = []
for i in range(10): #random.randint(1,10)
  t = random.randint(start,end) #設定越久以前值越小
  date_touple=time.localtime(t)
  date=time.strftime("%Y-%m-%d %H:%M:%S",date_touple) 
  random_time.append(date)
  
print(random_time)

['2017-06-19 05:04:55', '2003-07-31 07:14:00', '2000-08-01 18:27:29', '1981-11-04 04:06:05', '2004-09-06 04:32:16', '1985-04-28 13:26:44', '2017-01-22 10:52:47', '1988-03-23 05:32:52', '2013-02-22 10:55:45', '1995-04-09 08:00:44']

In [ ]:
t = (1970, 1, 1, 8, 0, 0, 0, 1, 0)
time.mktime(t) #(output數值,每個時間會有一個值)最小單位"秒"  *1970/1/1/00 為 0
#windows 時間戳有範圍限制

'2021-01-22 16:33:28'

In [ ]:
import time
import datetime
import random

end_time = datetime.datetime.now()
start_time = datetime.datetime.now() + datetime.timedelta(days=-6) #設定隨機時間抓取範圍(當前~多久以前) #約1930年開始
#datetime.timedelta((days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0))

a1 = tuple(start_time.timetuple()[0:9])  #start_time.timetuple是時間資料結構,[:]取值,在用tuple包裝起來,產生乾淨時間放進tuple
a2 = tuple(end_time.timetuple()[0:9])

start = time.mktime(a1) #時間範圍的邊界上限下限 生成值為秒
end = time.mktime(a2) #mktime 定要tuple(9)

#隨機生成時間
random_time = []
for i in range(10): #random.randint(1,10)
  t = random.randint(start,end) #設定越久以前值越小
  date_touple=time.localtime(t)
  date=time.strftime("%Y-%m-%d %H:%M:%S",date_touple) 
  random_time.append(date)
  
print(random_time)

['2021-01-19 16:40:21', '2021-01-20 10:08:40', '2021-01-17 06:49:28', '2021-01-19 22:44:11', '2021-01-17 14:54:46', '2021-01-19 13:09:27', '2021-01-18 01:36:33', '2021-01-21 20:40:19', '2021-01-19 15:39:46', '2021-01-20 00:59:28']

資料  
index.is_unique檢查索引日期是否唯一  
利用pandas 的 groupby 合併level = 0
把資料相同的值去除

In [ ]:
random_short_time = []
for i in random_time:
  a = i.split(" ")
  a = a[0] #取值好用
  random_short_time.append(a)

dates = pd.DatetimeIndex(random_short_time)
print(dates)
dup_ts = pd.Series(np.arange(10),index = random_short_time )

print(dup_ts.index.is_unique) #duplicate time series is unique

#以下步驟檢查是哪些日期重複了
print(dup_ts)
grouped = dup_ts.groupby(level=0).max() #groupby "." 後面的功能隨意,能去除資料就好  

#min,max,sum,mean,median,std,var,count
grouped                  #邏輯比較像是給予dataframe數值利用統計特性把重複的資料去除

DatetimeIndex(['2021-01-19', '2021-01-20', '2021-01-17', '2021-01-19',
               '2021-01-17', '2021-01-19', '2021-01-18', '2021-01-21',
               '2021-01-19', '2021-01-20'],
              dtype='datetime64[ns]', freq=None)
False
2021-01-19    0
2021-01-20    1
2021-01-17    2
2021-01-19    3
2021-01-17    4
2021-01-19    5
2021-01-18    6
2021-01-21    7
2021-01-19    8
2021-01-20    9
dtype: int32

2021-01-17    4
2021-01-18    6
2021-01-19    8
2021-01-20    9
2021-01-21    7
dtype: int32

In [ ]:
dup_df = pd.DataFrame(np.arange(50).reshape((10,5)),index =dates)
dup_df

             0   1   2   3   4
2021-01-19   0   1   2   3   4
2021-01-20   5   6   7   8   9
2021-01-17  10  11  12  13  14
2021-01-19  15  16  17  18  19
2021-01-17  20  21  22  23  24
2021-01-19  25  26  27  28  29
2021-01-18  30  31  32  33  34
2021-01-21  35  36  37  38  39
2021-01-19  40  41  42  43  44
2021-01-20  45  46  47  48  49

In [ ]:
grouped_df = dup_df.groupby(level=0).max()
grouped_df = grouped_df.rename(columns={0:"s",1:"e"})
col_name = grouped_df.columns.tolist()
print(col_name)
col_name.insert(2,"x")

grouped_df = grouped_df.reindex(columns = col_name)


grouped_df['x'] = [i for i in range(5)]
grouped_df["e"] = int("2") 
print(grouped_df)
#grouped_df.iloc[4]
#grouped_df.loc["2021-01-17"]
grouped_df["s"][0]

['s', 'e', 2, 3, 4]
             s  e  x   2   3   4
2021-01-17  20  2  0  22  23  24
2021-01-18  30  2  1  32  33  34
2021-01-19  40  2  2  42  43  44
2021-01-20  45  2  3  47  48  49
2021-01-21  35  2  4  37  38  39

20

4 useful tips of Pandas GroupBy  
https://towardsdatascience.com/4-useful-tips-of-pandas-groupby-3744eefb1852

In [ ]:
df = pd.DataFrame([{"week": "A", "day": "1_monday", "sales": 10},
    {"week": "A", "day": "5_friday", "sales": 8},
    {"week": "B", "day": "1_monday", "sales": 15},
    {"week": "B", "day": "5_friday", "sales": 7},
    {"week": "C", "day": "1_monday", "sales": 9},
    {"week": "C", "day": "5_friday", "sales": 3},])
df[["week",'day','sales']]

  week       day  sales
0    A  1_monday     10
1    A  5_friday      8
2    B  1_monday     15
3    B  5_friday      7
4    C  1_monday      9
5    C  5_friday      3

In [ ]:
groupped_data = df.groupby(['week','day']).agg({'sales':'sum'})
groupped_data["%"] = groupped_data.apply(lambda x: 100*x /x.sum())
groupped_data  #計算出銷售百分比

               sales          %
week day
A    1_monday     10  19.230769
     5_friday      8  15.384615
B    1_monday     15  28.846154
     5_friday      7  13.461538
C    1_monday      9  17.307692
     5_friday      3   5.769231

In [ ]:
groupped_data["%"] = groupped_data.groupby(level=0).apply(lambda x: 100* x/x.sum())
groupped_data  #個別產品不同日銷售占比

               sales          %
week day
A    1_monday     10  55.555556
     5_friday      8  44.444444
B    1_monday     15  68.181818
     5_friday      7  31.818182
C    1_monday      9  75.000000
     5_friday      3  25.000000

In [ ]:
groupped_data = df.groupby(['week','day']).agg({'sales':'sum'})
groupped_data.cumsum() #可以累計加總

               sales
week day
A    1_monday     10
     5_friday     18
B    1_monday     33
     5_friday     40
C    1_monday     49
     5_friday     52

In [ ]:
groupped_data.groupby(level=0).cumsum()

               sales
week day
A    1_monday     10
     5_friday     18
B    1_monday     15
     5_friday     22
C    1_monday      9
     5_friday     12

In [ ]:
groupped_data = df.groupby("week").agg({"sales":[("max_sales",'max'),("mean_sales","mean")]})
groupped_data

         sales
     max_sales mean_sales
week
A           10          9
B           15         11
C            9          6

In [ ]:
groupped_data = df.groupby("week").agg({"sales":[("max_sales","max"),("mean_sales","mean")]})
groupped_data

         sales
     max_sales mean_sales
week
A           10          9
B           15         11
C            9          6

In [ ]:
groupped_data.columns = groupped_data.columns.droplevel()
groupped_data

      max_sales  mean_sales
week
A            10           9
B            15          11
C             9           6

In [ ]:
pd.DataFrame(df.groupby('week')['sales'].apply(list))

        sales
week
A     [10, 8]
B     [15, 7]
C      [9, 3]